 <!DOCTYPE html>
<html>
<head>
<style>
body {
    background-color: lightpink;
}
<style>
.center {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
    


h1 {
  color: darkgrey;
}

p {
  font-family: Courier New;
}

p {
  color: black;
}

</style>
</head>
<body>

<h1>Hello World!</h1>

<p>This page has a light blue background color!</p>

</body>
</html>
